:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 400;
    color: var(--white);
}

body{
    width: 100%;
    height: 100vh;
    background: var(--grey-900);
}

main{
    width: 325px;
    height: 500px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50% 50%;
    background: var(--grey-800);
    padding: 0 1em 3em 1em;
}

header{
    grid-row: 0 / 1;
    justify-content: flex-start!important;
    gap: 1.5em;
    padding-top: 1em;
}

img{
    width: 25%;
    height: 33%;
    border-radius: 50%;
}

.name{
    font-size: 18px;
    font-weight: 700;
}

.location{  
    color: var(--green);
    font-weight: 600;
    margin-top: -1em;
}

nav{
    gap: 1em;
    grid-row: 2 / 3;
    margin-bottom: 1em;
}

nav div{
    width: 90%;
    height: 3em;
    border-radius: 7px;
    background: var(--grey-700);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding-top: 1em;
    padding-bottom: 1em;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution{ 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}